.red {
    background-color: red;
    flex: 1;
}


.blue {
    background-color: blue;
    flex: 2;
}

.yellow {
    background-color: yellow;
    flex: 3;
}

#container {
    display: flex;
    flex-direction: column-reverse;
}